@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
margin:0;
padding:0;
border:none;
outline:none;
background:transparent;
font:inherit;
font-size:100%;
vertical-align:baseline;
font-family:微软雅黑,Arial,黑体,宋体,sans-serif
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
display:block
}

button,input,select,textarea{
margin:0;
padding:0;
font-family:微软雅黑,Arial,黑体,宋体,sans-serif;
vertical-align:middle;
border:none
}

iframe{
    display: block;
    height: 80px;
    padding-top: 40px;
    margin: 0 auto;
}

iframe.time {
    padding-top: 0;
}

iframe#content{
    width: 100%;
    padding-top: 0;
}


body{
    background-image: url(https://dl3.img.timecdn.cn/2021/07/06/bg.png);
    background-attachment: fixed;
    background-size: cover;
}

iframe.weather {
    padding: 0;
    margin: 0;
    margin: 0 0 0 15px;
}

:focus{
outline:0
}

ol,ul{
list-style:none
}

blockquote,q{
quotes:none
}

blockquote:after,blockquote:before,q:after,q:before{
content:"";
content:none
}

table{
border-collapse:collapse;border-spacing:0
}

hr
{margin:0;padding:0;display:block;height:1px;border:0;border-top:1px solid #ccc
}

abbr[title],dfn[title]{
border-bottom:1px dotted #000;cursor:help
}

del{
text-decoration:line-through
}

mark{
font-style:italic;font-weight:700
}

ins,mark{
background-color:#ff9;color:#000
}

a,ins{
text-decoration:none
}

a{
background:transparent
}

a,a:active,a:hover,a:link,a:visited{
color:inherit
}

textarea{
resize:none;overflow:auto
}

::-webkit-input-placeholder{
color:#b7b7b7
}

::-moz-placeholder{
color:#b7b7b7
}

:-ms-input-placeholder
{color:#b7b7b7
}

::-ms-input-placeholder{
color:#b7b7b7
}

::placeholder{
color:#b7b7b7
}

::-ms-clear{
display:none
}

[v-cloak]{
display:none
}

@font-face{
font-family:iconfont;src:url(fonts/0688e34df60.woff)
}

.iconfont{
font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}

div.Search>img[data-v-0b1f3c5b]{
display:block;
}

div.Search>div[data-v-0b1f3c5b]{
width:720px;height:48px;margin:60px auto 0;font-size:0;white-space:nowrap
}

div.Search>div>div[data-v-0b1f3c5b]{
display:inline-block;
vertical-align:top;
width:90.28%;
backdrop-filter: blur(10px);
background-color: rgba(255, 255, 255, 0.20);
    border-radius: 10px 0 0 10px;
-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
position:relative;
z-index:10
}

div.Search>div>div.result[data-v-0b1f3c5b]{
    border-radius: 10px 0 10px 10px;
}
div.Search>div>div.result>ol[data-v-0b1f3c5b]{
display:block
}

div.Search>div>div>input[data-v-0b1f3c5b]{
width:100%;
height:48px;
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:0 16px;
font-size:16px;
color:#fff;
background-color:transparent
}

div.Search>div>div>ol[data-v-0b1f3c5b]{
display:none;
padding:8px 0;
border-top:0px solid #eee
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]{
font-size:14px;color:#e2e2e2f2;line-height:36px;cursor:pointer;padding-left:16px
}

div.Search>div>div>ol>li.active[data-v-0b1f3c5b],div.Search>div>div>ol>li[data-v-0b1f3c5b]:hover{
background-color:rgba(0,0,0,.06)
}

div.Search>div>div>ol>li>em[data-v-0b1f3c5b]{
font-weight:700
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:before{
display:inline-block;width:18px;font-size:12px;color:#ccc
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:first-child:before{
content:"1";color:#ec3939
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(2):before{
content:"2";color:#ff7500
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(3):before{
content:"3";color:#ffb602
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(4):before{
content:"4"
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(5):before{
content:"5"
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(6):before{
content:"6"
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(7):before{
content:"7"
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(8):before{
content:"8"
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(9):before{
content:"9"
}

div.Search>div>div>ol>li[data-v-0b1f3c5b]:nth-child(10):before{
content:"10"
}

div.Search>div>button[data-v-0b1f3c5b]{
display:inline-block;
vertical-align:top;
width:9.72%;
height:48px;
background-color:rgba(255, 255, 255, 0.20);
backdrop-filter: blur(10px);
border-radius:0 10px 10px 0;
-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
font-size:28px;
color:#fff;
cursor:pointer
}

div.Search>div>button[data-v-0b1f3c5b]:hover{
background-color:#ffffff30
}

div.Search>div:hover>div[data-v-0b1f3c5b]{
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,.2);
box-shadow:0 2px 6px 0 rgba(0,0,0,.2)
}

@media screen and (max-width:1366px){
div.Search>div[data-v-0b1f3c5b]{
margin-top:50px
}
}

@media screen and (max-width:1280px){
div.Search>div[data-v-0b1f3c5b]{
margin-top:40px
}
}

div.CommonSite[data-v-0adcae05]{
width:95%;
margin:100px auto;
text-align:center;
margin-bottom: 70px;
}

div.CommonSite.hide[data-v-0adcae05]{
margin-bottom:0
}

div.CommonSite.hide>nav>a[data-v-0adcae05]{
visibility:hidden!important;height:0
}

div.CommonSite.hide>nav>div.add[data-v-0adcae05]{
visibility:hidden;height:0
}

div.CommonSite.hide>nav>span>i[data-v-0adcae05]{
-webkit-transform:rotate(-180deg);
transform:rotate(-180deg)
}

div.CommonSite>nav[data-v-0adcae05]{
display:inline-block;
vertical-align:top;
font-size:0;
position:relative
}

div.CommonSite>nav>div.add[data-v-0adcae05]{
display:inline-block;
vertical-align:top;
width:120px;
height:80px;
line-height:80px;
cursor:pointer;
position:relative;
overflow:hidden
}

div.CommonSite>nav>div.add[data-v-0adcae05]:hover{
background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

div.CommonSite>nav>div.add>i[data-v-0adcae05]{
font-size:20px;
color:#fff
}

div.CommonSite>nav>a[data-v-0adcae05]{
display:inline-block;
vertical-align:top;
width:120px;
height:80px;
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:20px 14px 14px;
position:relative;
overflow:hidden
}

div.CommonSite>nav>a[data-v-0adcae05]:hover{
background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

div.CommonSite>nav>a:hover>i[data-v-0adcae05]{
display:block
}

div.CommonSite>nav>a>img[data-v-0adcae05]{
display:block;
height:30px;
margin:0 auto
}

div.CommonSite>nav>a>div.icon[data-v-0adcae05]{
margin:0 auto;
width:24px;
height:24px;
font-size:14px;
text-align:center;
line-height:24px;
background-color:#132d23;
border-radius:2px;
color:#fff
}

div.CommonSite>nav>a>p[data-v-0adcae05]{
margin-top:6px;
font-size:12px;
color:#fff;
line-height:16px;
white-space:nowrap;
overflow:hidden;
-o-text-overflow:ellipsis;
text-overflow:ellipsis;
text-align:center
}

div.CommonSite>nav>a>i[data-v-0adcae05]{
display:none;
position:absolute
;right:4px;
top:4px;
width:16px;
height:16px;
color:#fff;
line-height:16px
}

div.CommonSite>nav>span[data-v-0adcae05]{
position:absolute;
right:0;
top:-40px;
display:block;
height:24px;
line-height:24px;
font-size:12px;
color:#fff;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
cursor:pointer
}

div.CommonSite>nav>span:hover>i[data-v-0adcae05]{
background-color: rgb(255 255 255 / 10%);
backdrop-filter: blur(10px);
}

div.CommonSite>nav>span>i[data-v-0adcae05]{
display:inline-block;
vertical-align:top;
width:24px;
height:24px;
border-radius:24px;
text-align:center;
font-size:20px;
color:#fff;
-webkit-transform:rotate(0deg);
transform:rotate(0deg);
-webkit-transition:-webkit-transform .3s ease;
transition:-webkit-transform .3s ease;
-o-transition:transform .3s ease;
transition:transform .3s ease;
transition:transform .3s ease,-webkit-transform .3s ease
}

div.CommonSite>ul.popup[data-v-0adcae05]{
position:fixed;
left:0;
top:0;
width:86px;
text-align:left;background-color:#fff;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,.2);
box-shadow:0 2px 6px 0 rgba(0,0,0,.2);
border-radius:2px;
-webkit-transform:translateY(16px);
transform:translateY(16px)
}

div.CommonSite>ul.popup>li[data-v-0adcae05]{
font-size:12px;
color:#000;
line-height:26px;
cursor:pointer;
padding-left:8px
}

div.CommonSite>ul.popup>li[data-v-0adcae05]:hover{
background-color:#f2f3f4
}

div.CommonSite>ul.popup>li>i[data-v-0adcae05]{
margin-right:8px;color:#333
}

div.CommonSite>div.modal[data-v-0adcae05]{
position:fixed;left:0;top:0;z-index:20;background-color:#fff;border-radius:4px;-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,.2);box-shadow:0 2px 6px 0 rgba(0,0,0,.2);padding:10px;cursor:default;text-align:left;-webkit-transform:translateY(-100%);transform:translateY(-100%)}div.CommonSite>div.modal>i[data-v-0adcae05]{position:absolute;right:2px;top:2px;display:block;width:20px;height:20px;line-height:20px;text-align:center;font-size:20px;color:#fff;cursor:pointer}div.CommonSite>div.modal>i[data-v-0adcae05]:hover{background-color:rgba(0,0,0,.06)}div.CommonSite>div.modal>h1[data-v-0adcae05]{font-size:14px;font-weight:700;color:#333;line-height:24px}div.CommonSite>div.modal>label[data-v-0adcae05]{display:block;margin-top:6px;line-height:16px;font-size:12px;color:#333}div.CommonSite>div.modal>input[data-v-0adcae05]{display:block;margin-top:2px;width:190px;height:24px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #eee;font-size:12px;color:#333;padding:0 8px
}

div.CommonSite>div.modal>input[data-v-0adcae05]:focus{
background:rgba(78,110,242,.1);border:1px solid #999
}

div.CommonSite>div.modal>div[data-v-0adcae05]{
display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:10px
}

div.CommonSite>div.modal>div>button[data-v-0adcae05]{
-webkit-box-flex:1;-ms-flex:1 1 0px;flex:1 1 0;height:24px;background-color:rgba(0,0,0,.06);font-size:12px;color:#333;cursor:pointer
}

div.CommonSite>div.modal>div>button[data-v-0adcae05]:hover{
background-color:rgba(0,0,0,.1)
}

div.CommonSite>div.modal>div>button[data-v-0adcae05]:first-child{
    background-color: #4E6F04;
    color:#fff;margin-right:6px
}

div.CommonSite>div.modal>div>button[data-v-0adcae05]:first-child:hover{
    background-color: #4E6F04;
}

div.CommonSite>div.dragPop[data-v-0adcae05]{
position:fixed;left:0;top:0;z-index:999;width:120px;height:80px;
-webkit-box-sizing:border-box;box-sizing:border-box;padding:20px 14px 14px;
background-color:rgba(0,0,0,.06);opacity:.6;cursor:move;pointer-events:none
}

div.CommonSite>div.dragPop>img[data-v-0adcae05]{
display:block;height:24px;margin:0 auto
}

div.CommonSite>div.dragPop>div.icon[data-v-0adcae05]{
margin:0 auto;width:24px;height:24px;font-size:14px;text-align:center;line-height:24px;background-color:#132d23;border-radius:2px;color:#fff
}

div.CommonSite>div.dragPop>p[data-v-0adcae05]{
margin-top:6px;font-size:12px;color:#333;
line-height:16px;white-space:nowrap;overflow:hidden;
-o-text-overflow:ellipsis;text-overflow:ellipsis;
text-align:center
}

nav.AdSite[data-v-47384b86]{
width:960px;margin:0 auto;background-color:#fff;overflow:hidden;
-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 30px 20px 32px;
font-size:0;position:relative
}

nav.AdSite[data-v-47384b86]:after{
content:"广告";position:absolute;right:6px;bottom:6px;font-size:12px;color:#999;line-height:1
}

nav.AdSite>a[data-v-47384b86]{
display:inline-block;vertical-align:top;width:100px;
margin-top:20px;margin-right:14px;font-size:12px;
color:#333;line-height:16px;white-space:nowrap;overflow:hidden;
-o-text-overflow:ellipsis;text-overflow:ellipsis
}

nav.AdSite>a[data-v-47384b86]:hover{
text-decoration:underline
}

nav.AdSite>a[data-v-47384b86]:nth-child(8n+8){
margin-right:0
}

nav.AdSite>a>img[data-v-47384b86]{
width:16px;height:16px;vertical-align:top;
margin-right:6px}html{background-color:#f7f7f7
}

div.App[data-v-617ab0be]{
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 10px;
    padding-bottom: 40px;
    position: relative;
}

div.App>p.copyright[data-v-617ab0be]{
position:absolute;left:0;bottom:12px;width:100%;text-align:center;
font-size:12px;color:#dfdfdf;line-height:14px
}

@media screen and (max-width:1366px){
div.App[data-v-617ab0be]{
}
}

@media screen and (max-width:1280px){
div.App[data-v-617ab0be]{
padding-top:40px
}
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: #fff0;
}
::-webkit-scrollbar-corner {
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #8D8D8D;
}

.icon{
    background-color: rgb(255 255 255 / 0%) !important;
    font-weight: bold;
}

div.CommonSite>nav>a>div.icon[data-v-0adcae05]{
	    height: 30px;
    font-size: 30px;
}

/**防选中**/
*{
moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;
}

/**手机端样式**/
@media screen and (max-width:740px ) {
	div.Search>div>button[data-v-0b1f3c5b]{
	width:15%;
	}
	div.Search>div[data-v-0b1f3c5b]{
		width: 90%;
		margin-left: 3%;
	}
}

@media screen and (max-width:360px ) {
	div.Search>div>div>ol>li[data-v-0b1f3c5b]{
		font-size:15px;
		line-height:32px;
	}
	div.App[data-v-617ab0be]{
		    padding-top: 20px;
			    padding-bottom: 30px;
	}
	div.CommonSite>nav>a[data-v-0adcae05]{
		    width: 85px;
	}
	div.CommonSite[data-v-0adcae05]{
		margin-bottom:35px !important;
		margin: 70px auto;
		height: auto;
	}
	div.Search>div[data-v-0b1f3c5b]{
		    margin-top: 25px;
	}
	.Yiyan{
		margin-right: 1%;
	}
	body{
		background-size: 415%;
	}
}

@media screen and (max-width:300px ) {
	iframe#content{
        height:auto;
}
}

/**动画**/
div.App>p.copyright[data-v-617ab0be], div.CommonSite[data-v-0adcae05]{
	opacity: 0;
    transition: all 1s linear;
}